/*.bg-laranja {
    background-color: #DB7324;
    position: absolute;
    z-index: -1;
    margin-left: auto;
    width: 21%;
    left: 50%;
    transform: translate(-50%);
    height: 62%;
    margin-top: -0.99%;
}*/


/*****HEADER*****/

header span {
    font-size: 30px;
    font-family: 'Roboto Slab';
}


/******BODY******/

#parte1 {
    background-color: #FEECB0 !important;
    border: 2px solid #000000 !important;
    border-radius: 10px;
    width: 39%;
}



#parte2 div + div > div img {
    border-radius: 5px;
    border: 14px solid #000;
}

#parte3 {
    border: 14px solid #000000 !important;
    border-radius: 5px;
    width: 43%;
}

.parte3-2 {
    background-color: #FEECB0 !important;
    border-radius: 3px;
}

#parte3 h2, p, ul a {
    font-size: 17px;
    color: #409DAD !important;
}


/****FOOTER****/

footer > div > div > div h4 {
    font-size: 18px;
} 

.textorodape {
    
}

.fa:hover {
    
    transition: 1s all;
    transform: scale(1.5);
    border-radius: 5px;
    color: hsla(120, 100%, 63%, 0.867);
    text-shadow: 1px 1px 1px black;

}

/*<header>
                <div class="container">
                    <div class="row justify-content-center">
                        
                        <h1 class="parte1 mt-2" style="background-color: #FEECB0;">
                            <span class="mr-4">Caio Lima</span>
                            <img src="img/olho.png" alt="olho do milênio">
                        </h1>
                        
                    </div>
                </div>
            </header>*/