/*.bg-laranja {
    background-color: #DB7324;
    position: absolute;
    z-index: -1;
    margin-left: auto;
    width: 21%;
    left: 50%;
    transform: translate(-50%);
    height: 62%;
    margin-top: -0.99%;
}*/


/*****HEADER*****/

header span {
    font-size: 30px;
    font-family: 'Roboto Slab';
}


/******BODY******/

#parte1 {
    background-color: #FEECB0 !important;
    border: 2px solid #000000 !important;
    border-radius: 10px;
    width: 39%;
}

#parte2 div + div > div img {
    border-radius: 5px;
    border: 14px solid #000;
}

#parte3 {
    border: 14px solid #000000 !important;
    background-color: #FEECB0 !important;
    border-radius: 5px;
    width: 43%;
}

.tabulation-2 {
    border-radius: 3px;
}

#parte3 h2, p, ul a, h5 {
    font-size: 17px;
    color: #409DAD !important;
}

hr { 
    width: 90%;
    margin-bottom: 1.8% !important;
}


/**********************************************ABOUT****************************************/

#star-wars {
    background-color: black;
}
  
.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
}
  
  /* Set the animation, color, size and hide the text */
  .intro {
      position: absolute;
      top: 30%;
      left: 35%;
      z-index: 1;
      animation: intro 6s ease-out 1s;
      color: rgb(75, 213, 238);
      font-weight: 400;
      font-size: 100%;
      opacity: 0;
  }
  
  @keyframes intro {
      0% {
          opacity: 0;
      }
      20% {
          opacity: 1;
      }
      90% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }
  
  /* Set the animation & hide the logo */
  .logo {    
      position: absolute;
      top: 20%;
      left: 45%;
      z-index: 1;
      margin: auto;
      animation: logo 9s ease-out 9s;
      opacity: 0;
  }
  
  .logo svg {
      width: inherit;
  }
  
  /* Scale the logo down and maintain it centered */
  @keyframes logo {
      0% {
          width: 18em;        
          transform: scale(1.25);
          opacity: 1;
      }
      50% {
          opacity: 1;
          width: 18em;      
      }
      100% {
          opacity: 0;
          transform: scale(0.1);
          width: 18em;
      }
  }
  
  p {
    color: #FFFF82;
  }
  
  /* Set the font, lean the board, position it */
  #board {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 350%;
    height: 50em;
    width: 18em;
    bottom: 0;
    left: 50%;
  }
  
  #board:after {    
    position: absolute;
    content: ' ';
    bottom: 60%;
    left: 0;
    right: 0;
    top: 0;
  }
  
  /* Set the scrolling animation and position it */
  #content {
    animation: scroll 50s linear 16s;
    position: absolute;
    top: 100%;
  }
  
  #title, #subtitle {
    text-align: center;
  }
  
  @keyframes scroll {
      0% {
          top: 100%;
      }
      100% {
          top: -170%;
      }
  }


/*********************************************************PORTIFOLIO***************************************/

.carousel-indicators {
    top: 107% !important;
}

.carousel-inner {
    /*top: -8% !important;
    left: 8% !important;
    left: 8% !important;*/
    height: 9em !important;
}

.carousel-item img {
    width: 35% !important;
    left: 3% !important;
}

.carousel-caption {
    top: -17% !important;
    left: 46% !important;
}

.carousel-caption p {
    font-size: 13px !important;
}

.carousel-control-prev {
    left: -36px !important;
}

.carousel-control-next {
    right: -30px !important;
}


/***************************************************FUNDO LARANJA***********************************************/

#background {
    position: absolute;
    top: 0;
    left: 31%;
    width: 38%;
    height: 117%;
    background-color: #DB7324;
    z-index: -1;
    border: 14px solid #000000 !important;
}

